node_modules
dist
coverage

.env
.env.*
.env.local
.env.development.local
.env.test.local
.env.production.local

.pnp.cjs
.pnp.loader.mjs

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.DS_Store
